/** @format */

:root {
  --primary-color: #ffcc00d4;
  --secondary-color: rgba(240, 240, 240, 0.304);
  --tertiary-color: hsla(0, 0%, 0%, 0.5);
  --quaternary-color: #78c850;
  --quinary-color: #f08030;
  --pokeball-color: #ffffff;

  /* Font */
}

body {
  background-color: rgba(0, 0, 0, 0.904);
  font-family: cursive;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  background-image: url("/img/image.png");
  background-size: 1600px;
  padding: 7rem;
  text-align: center;
  width: 100%;
}

header h1 img {
  width: 30rem;
}
.search-form {
  padding: 1rem;
  .search {
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
  }
  button {
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-items: center;
  width: 100%;
  padding: 2rem;
}

.pokemon-card-total {
  display: grid;
  grid-template-rows: auto auto;
  gap: 1rem;
  justify-items: center;
  align-items: start;
  width: 100%;
  max-width: 300px;
}

.flip-container {
  background-color: transparent;
  perspective: 1000px;
  width: 100%;
  height: 300px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-container:hover .card {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: grid;
  place-items: center;
  border-radius: 10px;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.back {
  background-color: var(--tertiary-color);
  transform: rotateY(180deg);
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  margin: 0;
}

p {
  font-size: 1.5rem;
  color: var(--quinary-color);
  margin: 0.5rem 0;
}

.pokemon-card {
  background-color: var(--pokeball-color);
  width: 100%;
  border-radius: 50%;
  display: grid;
  place-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.pokemon-images {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  transition: all 0.3s ease;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      transparent 10%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0)
    );
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s ease;
  }
  &:hover::before {
    opacity: 1;
  }
  &:hover {
    transform: perspective(250px) rotateX(10deg) translateY(-5%);
  }
}

.pokemon-images img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
  &:hover {
    transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
  }
}
.pokemon-images img:first-child {
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
}
.pokemon-images img:last-child {
  position: absolute;
  transform: translateY(40%);
  opacity: 0;
  transition: all 0.3s ease;
  &:hover {
    opacity: 1;
    transform: translateY(0);
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  padding: 1rem;
  & button {
    border: none;
    background-color: #ffcc00b6;
    border-radius: 1000px;
    padding: 0.5rem 1rem;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after{
        content: '';
        position: absolute;
        width: 7rem;
        height: 3rem;
        border-radius: 1000px;
        background-color: var(--primary-color);
        background-image: linear-gradient(to bottom right, var(--primary-color), var(--quinary-color));
        z-index: -1;
    }
    &:hover{
        z-index: 1;
        box-shadow: 40px 0 100px var(--quinary-color);
    }
    &:disabled {
      background-color: var(--tertiary-color);
      color: var(--primary-color);
      cursor: not-allowed;
      
    }
  }
}



footer {
  background-color: var(--primary-color);
  padding: 1rem;
  text-align: center;
  width: 100%;
  & p {
    color: var(--tertiary-color);
    margin: 0;
  }
}
