<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon Details</title>
    <script type="module" src="acc.js" defer></script>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="acc.css">

</head>

<body>
    
        <main class="acc-pokemon">
            <div>
            <h2>Crea tu cuenta</h2>
            <form class="form">
                <label>Nombre
                    <input type="text" name="name" class="name" required>
                </label>
                <label>Apodo
                    <input type="text" name="nick" class="nick" required>
                </label>
                <label>Correo
                    <input type="email" name="email" class="email" required>
                </label>
                <label>Contraseña
                    <input type="password" name="password" class="password" required>
                </label>
                <button type="submit">Crear cuenta</button>
        </main>
        </form>
        </div>
    <footer>
        <p>&copy; 2025 Pokémon App</p>
    </footer>
</body>

</html>